# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# Page and Application information
PAGE_ID=
APP_ID=
PAGE_ACCESS_TOKEN=

# Your App secret can be found in App Dashboard -> Seetings -> Basic
APP_SECRET=

# A random string that is used for the webhook verification request
VERIFY_TOKEN=

# URL where you host this code
# You can use LocalTunnel or Heroku ex: https://mystic-wind-83.herokuapp.com
APP_URL=

# URL of your website where the "shop now" is located
# Can be the same as your app domain URL ex: https://www.originalcoastclothing.com/
SHOP_URL=

# Preferred port
PORT=3000

# note: .env is a shell file so there can't be spaces around =