<% /* %>
 * Copyright 2021-present, Facebook, Inc. All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree.
 *
 * Messenger For Original Coast Clothing
 * https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing
 <% */ %>
 <% include header %>

<div class="container">
  <h1>Original Coast Clothing</h1>
  <img src="/logo.png" />
  <p class="lead">
    We’re open 7 days, so start your shopping experience now!
  </p>
  <p>
    This site is part of the Sample Messenger Bot experience of Original Coast
    Clothing
  </p>
  <ul>
    <li>
      <a href="https://www.originalcoastclothing.com/"
        >Original Coast Clothing Website</a
      >
    </li>
    <li>
      Want to build your own?
      <a
        href="https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing"
        >DevDocs</a
      >
    </li>
  </ul>
</div>

<% include footer %>
